* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: aqua;
}
header {
    background-color: black;
    width: 100%;
    display: flex;
    gap: 20px;
    grid-gap: 20px;
    position: fixed;  
}

.logo {
    width: 100px;
}
.navbar {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    gap: 10px;
    grid-gap: 10px;
    list-style-type: none;
    align-items: center;
    height: 100%;
}

.menu_item {
    margin-inline: 10px;
}

.menu_item a {
    color: grey;
    text-decoration: none;
}

.menu_item.active a {
    text-decoration: underline;
}

footer {
    color: white;
    background-color: black;
    align-self: flex-end;
    height: 50px;
    width: 100%;
    text-align: center;
    margin-top: auto;

   
}

/* */

.wpp{
    position: fixed;
    bottom: 10px;
    left: 10px;
    width: 100px;
}


/* series */

.contenedor {
    width: 800px;
    height: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "caja1 caja2"
    "caja3 caja4"
    "caja5 caja5"
}
.caja {
    border: 1px solid black;
}
.caja1 {
    grid-area: caja1;
}

.caja2 {
    grid-area: caja2;
}

.caja3 {
    grid-area: caja3;
}

.caja4 {
    grid-area: caja4;
}

.caja5 {
    grid-area: caja5;
}

/* index */

.imagenprincipal {
    height: 80vh;
    background-image: url(../img/lengend_index.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.imagenprincipal h2 {
    color: grey;
    background-color: rgba(0, 0, 0, 0.619);
    padding-inline: 20px;
    
}

.imagenprincipal2 {
    height: 80vh;
    background-image: url(../img/paiste_index.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.imagenprincipal2 h2 {
    color: grey;
    background-color: rgba(0, 0, 0, 0.619);
    padding-inline: 20px;
    
}

/* platillos */

.filapst {
    background-color: grey;
    padding: 5px;
    padding: 10px;
    display: flex;
    gap: 20px;
    grid-gap: 20px;
    align-items: center;
    
}

.imagenpst {
    width: 250px;
}

/* nosotros */


/*contacto*/

.titulo {
    text-align: center;
    margin: 30px;
}

form {
    width: 300px;
    font-size: 16px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 3px;
    background-color: grey;
    color: azure;
}

input,textarea {
    border: 0;
    outline: none;
    width: 260px;
}
.field {
    border: solid 1px #999;
    padding: 10px;
    
}

.field:hover {
    border-color: blue;
}

button {
    text-align: center;
}

