@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lobster', cursive;
}

header {
    background-color: black;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; 
}

h2{
    color: burlywood;
}

.logo {
    width: 100px;
}

.empresa{
    display: flex;
    align-items: center;
}
.navbar {
    display: flex;
    align-items: center;
    
}

.menu {
    display: flex;
    gap: 10px;
    grid-gap: 10px;
    list-style-type: none;
    align-items: center;
    height: 100%;
    min-height: 50px;

}

.menu_item a:hover{
    color: beige;
}

.menu_item {
    margin-inline: 10px;
}

.menu_item a {
    color: burlywood;
    text-decoration: none;
}

.menu_item.active a {
    text-decoration: underline;
}

body{
    background-color: beige;
}

footer{
    background-color: black;
    color: burlywood;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    border-top: 2px solid grey;
    padding: 5px 0;
    text-align: center;
}

/* */

.wpp{
    position: fixed;
    bottom: 10px;
    left: 10px;
    width: 100px;
}

@media screen and (max-width: 700px){
    header{
        flex-direction: column;
        align-content: center;
    }

    .menu{
        flex-direction: column;
        align-content: center;
    }
}


/* series */



.contenedor {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "caja1 caja2"
    "caja3 caja4"
    "caja5 caja5"
}

.bata1_descripcion{
    list-style-position: inside;
}

.caja1 {
    grid-area: caja1;
    background-color: beige;
    color: burlywood;
    padding: 3px;
    display: grid;
    place-items: center;
}

.caja2 {
    grid-area: caja2;
    background-color: beige;
    color: burlywood;
    padding: 3px;
    display: grid;
    place-items: center;
}

.caja3 {
    grid-area: caja3;
    background-color: beige;
    color: burlywood;
    padding: 3px;
    display: grid;
    place-items: center;
}

.caja4 {
    grid-area: caja4;
    background-color: beige;
    color: burlywood;
    padding: 3px;
    display: grid;
    place-items: center;
    
}

.caja5 {
    grid-area: caja5;
    background-color: beige;
    text-align: center;
    color: burlywood;
    padding: 3px;
    margin-top: 50px;
    margin-bottom: 50px;
    
}

@media screen and (max-width: 480px) {
    
    .contenedor {
        height: 100vh;
        display: flex;
        flex-direction: column;
        gap: 75px;
    }

    .caja {
        flex: 1;
    }

}

/* index */



.imagenprincipal {
    height: 100vh;
    background-image: url(../img/lengend_index.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.imagenprincipal h2 {
    color: burlywood;
    background-color: rgba(0, 0, 0, 0.619);
    padding-inline: 20px;
    
}

.separador{
    display: flex;
    justify-content: center;
    align-items: center;
    color: burlywood;
    margin: 20px 20px;
}

.imagenprincipal2 {
    height: 90vh;
    background-image: url(../img/paiste_index.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.imagenprincipal2 h2 {
    color: burlywood;
    background-color: rgba(0, 0, 0, 0.619);
    padding-inline: 20px;
    
}



/* platillos */

/*.principio{
    padding: 20px;
    margin: 20px;
    align-items: center;
    justify-content: center;
    width: 100%;
}*/

.container {
    gap: 10px 10px;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "caja1 caja1"
    "caja2 caja3"
    "caja4 caja5"
}
.box {
    border: 2px solid burlywood;
    border-radius: 5px;
}
.box1 {
    grid-area: caja1;
    background-color: white;
    color: burlywood;
    padding: 5px;
    margin: 20px 20px 10px 20px;
    text-align: center;
}

.box2 {
    grid-area: caja2;
    background-color: white;
    color: burlywood;
    padding: 5px;
    margin: 10px 10px 10px 20px;
    display: grid;
    place-items: center;
}

.box3 {
    grid-area: caja3;
    background-color: white;
    color: burlywood;
    padding: 5px;
    margin: 10px 20px 10px 10px;
    display: grid;
    place-items: center;
    
}

.box4 {
    grid-area: caja4;
    background-color: white;
    color: burlywood;
    padding: 5px;
    margin: 10px 10px 10px 20px;
    display: grid;
    place-items: center;
}

.box5 {
    grid-area: caja5;
    background-color: white;
    color: burlywood;
    padding: 5px;
    margin: 10px 20px 10px 10px;
    display: grid;
    place-items: center;
}

@media screen and (max-width: 480px) {
    .container {
        height: 100vh;
        display: flex;
        flex-direction: column;
    }
    .box {
        flex: 1;
    }
}


/* nosotros */

.titulo_nosotros{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 20px;
}

.parrafos{
    text-align: center;
    width: 600px;
    padding: 10px;
    margin: 0 auto;
}

.parrafos p {
    line-height: 25px;
    color: burlywood;
}

.seccion{
    display: flex;
    flex-direction: row;
}

.contenedor_imagen{
    width: 75vw;
    max-width: 1000px;
    min-width: 320px;
    margin: auto;
    
}

.imagen_nosotros {
    width: 100%;
}

@media screen and (max-width: 480px){
    
    .titulo_nosotros{
        text-align: center;
    }

    .seccion{
        height: auto;
        flex-direction: column;
    }
    .parrafos{
        margin-bottom: 5px;
    }

    .contenedor_imagen{
        margin-top: 5px;
    }
}


/*contacto*/

.imagencontacto {
    height: 100vh;
    background-image: url(../img/lengend_index.jpg);
    background-repeat: repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.imagencontacto h2 {
    color: burlywood;
    background-color: rgba(0, 0, 0, 0.495);
    padding-inline: 20px;
    margin: 30px;
    
}

form {
    width: 300px;
    font-size: 16px;
    margin: 0 auto;
    padding: 20px;
    margin: 50px;
    border-radius: 5px;
    border: solid 2px brown;
    background-color: burlywood;
    color: black;
}

input,textarea {
    border: 0;
    outline: none;
    width: 260px;
}
.field {
    border: solid 2px brown;
    border-radius: 5px;
    padding: 10px;
    
}

.field:hover {
    border-color: beige;
}

button {
    text-align: center;
}

@media screen and (max-width: 480px){
    h2 {
        text-align: center;
    }
}

